////////////////////////////////////////////////////////////////////////////////
//
// Imports (Required)
//
////////////////////////////////////////////////////////////////////////////////

// Global Variables
@import "a-global-variables.scss";
@import "b-bootstrap-imports.scss";
@import "c-custom-mixins.scss";
@import "d-enhancements.scss";
@import "e-ui-elements.scss";
@import "f-dev-tools.scss";

////////////////////////////////////////////////////////////////////////////////
//
// Theme Styles 
//
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////
// Fonts
////////////////////////////////////////

body, 
h1, .h1,  
h2, .h2, 
h3, .h3,
h4, .h4,
nav, 

.btn,
.link,
button,
select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
label

{ @extend .f-primary; }

h4, .h4, 
h5, .h5
{ @extend .f-secondary; }

// Font weights

h1, .h1,  
h3, .h3,
.btn
{ @extend .fw-black; }

h2, .h2, 
.link{ @extend .fw-bold; }

h4, .h4, 
h5, .h5
{ @extend .fw-regular; }

////////////////////////////////////////
// Global Navigation
////////////////////////////////////////

#secondary-navigation,
#primary-navigation-desktop{

  > ul > li > a{ 
    @extend .text-white; 

    &.active{ @extend .text-secondary; }
  
  }
}

#secondary-navigation{
  @extend .mb-3;

  a {
    @extend .p-0;
    @extend .ml-2;
    @extend .fs-md;
    &.fw-bold{
      text-transform: uppercase;
    }
  }
}

#primary-navigation-desktop{

  ul{ @extend .list-unstyled; }

  > ul{
    @extend .d-flex;
    @extend .flex-row;
  }

  > ul > li{
    @extend .position-relative;
    @extend .ml-4;
  }

  > ul > li > a{
    @extend .f-secondary;
    @extend .fs-lg;
    @extend .d-flex;
    @extend .align-self-center;
  }

  > ul > li > ul > li {
    display: block;
  }

  ul.sub{
    @extend .position-absolute;
    @extend .list-unstyled;
    @extend .rounded;
    @extend .p-3;
    @extend .mt-1;
    @extend .bg-secondary;

    background: $yellow;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    width: auto;

    &:before{ 
      content:"";
      position: absolute;
      top: -($arrow-size);
      left: 50%;
      margin-left: -($arrow-size);
      @extend .arrow-up;
    }    

    > li{
      @extend .p-0;
      @extend .mb-0;
      @extend .text-center;
    }
    > li > a{
      @extend .text-black;
      @extend .fs-md;
      white-space: nowrap;
    }

    display: none;

    &.active{
      display: block;
    }
  }
}

button#toggle-device-menu{

  @extend .border-0;
  @extend .no-btn-style;

  width: 130px;
  height: 40px;
  @extend .btn;
  
  @include apply-background-image('btn-explore', '.svg');
  
  border-radius: $border-radius;

  &[aria-expanded="true"]{
    background-position: 0 -40px;
  }
}

#wrap-toggle{
    @include media-breakpoint-down(xs){
      background: theme-color("secondary");
      margin-left: -($grid-gutter-width/2);
      margin-right: -($grid-gutter-width/2);
    }
}

.mobile-edge{

  @include media-breakpoint-down(sm){
    padding-left: 0;
    padding-right: 0;

    h1, h2, h3{
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }
  
  }
}

// All Links 

.all-links{
  ul > li{
    > a{ @extend .text-body; }
    &.h4{
      > a{ @extend .text-primary; }
    }
  } 
}


////////////////////////////////////////
// Featured Panel
////////////////////////////////////////

.featured-tile{
  @extend .no-btn-style;

  .title{ background: black; }

  &.project{
    @extend .position-relative; 
    @extend .d-block;
    overflow: hidden;

    .gradient-overlay{ z-index: 100; }

    .title{ 
      @extend .position-relative;
      z-index: 200; 
      background: black;
    }
    
    .character{ 
      max-width: 60%;
      position: absolute;
      top: 0;
      z-index: 150;
      right: 0.25rem;
    }

    &.african-painted-dog .title{ background: $african-painted-dog; }
    &.cheetah .title{ background: $cheetah; }
    &.pink-dolphin .title{ background: $pink-dolphin; }
    &.coral-climate-change .title{ background: $coral-climate-change; }

    @include media-breakpoint-up(lg){
  
      .character{
        max-width: 40%;
        z-index: 1500;
        top: auto;
        bottom: 1rem;
      }
    }

  }
} // featured-panel